:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #0f0f0f;
  background-color: #f6f6f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 30px;
}

input,
button {
  border: 0;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 0 10px;
}

button {
  cursor: pointer;
  justify-content: center;
  transition: all 0.2s;
}

button:hover {
  transform: translate(-1px, -1px);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

button.primary {
  color: #ffffff;
  background-color: #1d4999;
}

button.primary:hover {
  border-color: rgb(255, 255, 255) 999;
}

input,
button {
  outline: none;
}

button.full-width {
  width: 100%;
}

#greet-input {
  margin-right: 5px;
}

.input-field {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-field label {
  width: 150px;
  text-align: right;
  flex: none;
}

.input-field input {
  width: 100%;
}

.form-title {
  color: #f6f6f6;
  background-color: #1d4999;
  margin-bottom: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  font-weight: 600;
}
.form-title::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  background-color: #739ff0;
  top: 0;
  left: 0;
}

.button-group {
  display: flex;
  gap: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}
